#topLeft {
    left: 0;
    top: 0;
    z-index: 100;
    padding-left: 24px;
    position: absolute;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    margin-right: 24px;
    margin-top: 19px;
    list-style: none;
    float: left;
}

li, li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 23px;
    font-family: Arial, sans-serif;
    color: #222;
}

#topLeft ul li :hover {
    color: #315efb;
}

#topRight {
    right: 0;
    top: 0;
    z-index: 100;
    padding-left: 200px;
    padding-right: 24px;
    position: absolute;
}

#loginBtn {
    background-color: #4e6ef2;
    color: #fff;
    height: 24px;
    width: 48px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
}