@font-face {
    font-family: cIconfont;
    src:url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot');
    src:url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot?#iefix') format('embedded-opentype'),url('https://pss.bdstatic.com/static/superman/font/iconfont-fa013548a9.woff2') format('woff2'),url('https://pss.bdstatic.com/static/superman/font/iconfont-840387fb42.woff') format('woff'),url('https://pss.bdstatic.com/static/superman/font/iconfont-4530e108b6.ttf') format('truetype'),url('https://pss.bdstatic.com/static/superman/font/iconfont-74fcdd51ab.svg#iconfont') format('svg')
}

#topLeft {
    left: 0;
    top: 0;
    padding-left: 24px;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    margin-right: 24px;
    margin-top: 19px;
    list-style: none;
    float: left;
}

li, li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 23px;
    font-family: Arial, sans-serif;
    color: #222;
}

#topLeft ul li :hover {
    color: #315efb;
}

#topRight {
    right: 0;
    top: 0;
    z-index: 100;
    padding-left: 200px;
    padding-right: 24px;
    position: absolute;
}

#loginBtn {
    background-color: #4e6ef2;
    color: #fff;
    height: 24px;
    width: 48px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
}

.clearfloat::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -135px;
    margin-top: 100px;
}

.search {
    height: 60px;
    position: absolute;
    left: 50%;
    margin-top: 250px;
}
#searchbox {
    width: 520px;
    border: 2px solid #c4c7ce;
    border-radius: 10px 0 0 10px;
    margin-left: -330px;
    padding: 12px 16px;
    font-size: 16px;
}

/* 边框聚焦失败，某些浏览器在 input 元素聚焦时，会默认使用 outline 而不是 border 来显示聚焦状态 */
#searchbox:focus {
    border: 2px solid #4e6ef2;
    outline: none;
}

.camera {
    background: #fff url(camera.png) no-repeat;
    width: 35px;
    height: 20px;
    padding-right: 5px;
    display: inline-block;
    margin-left: -49px;
    vertical-align: middle;
}

.clickbtn {
    color: #fff;
    border-radius: 0 10px 10px 0;
    border: none;
    background: #4662d9;
    position: relative;
    left: -1px;
    width: 120px;
    height: 46px;
    display: inline-block;
    top: 2px;
    font-size: 17px;
    box-shadow: none;
    font-weight: 400;
}
.HotSerchText {
    position: absolute;
    float:left;
    left:0px;
    margin-top:-0.5px;
    display: inline-block;
    color:rgb(50, 50, 50);
    font: 14px / 24px Arial, sans-serif;
}

.ChangeIt {
    position:absolute;
    right: 42px;
    top: 3px;
    display: inline-block;
    color: rgb(145, 145, 145);
    cursor: pointer;
}
    .ChangeIt:hover {
        color: #4e6ef2;
    }

.HotSerch {
    text-align: center;
    position: absolute;
    width: 660px;
    height: 115px;
    left: 52%;
    top: 375px;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 3;
}
.HotList{
    list-style-type:none;
    margin-top:27px;
    margin-left:-16px;
}
.HotSerch-LeftItem {
    float: left;
    margin-right: 520px;
    margin-top: 13px;
    white-space: nowrap;
    cursor: pointer
}
.HotSerch-RightItem {
    float: left;
    margin-left: 378px;
    margin-top: -20px;
    white-space: nowrap;
    cursor: pointer
}
.HotNum{
    font-family:"PingFang SC",Arial,"Microsoft YaHei";
    font-size:15px;
    font-weight:500;
    color:rgb(160, 160, 160);
    margin-right:6px;
}

.c-icon {
    font-family: cIconfont!important;
    font-style: normal;
    font-size:15px;
    position:absolute;
    margin-top: 3px;
    margin-left:-15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.arrow {
    color: #9195a3;
    font-size: 15px;
    left: 64px;
    top: 4px;
}
.HotTip {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: white;
    background-color:rgb(245, 137, 67);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 1px;
    margin-left: 8px;
    position: absolute;
}
.HotList li a{
    font-size: 16px;
}

.footer {
    position: fixed;
    z-index: 400;
    bottom: 0;
    height: 38px;
    margin: 0;
    background: #fff;
    width: 100%;
    text-align: center;
}
.footer a, .footer span {
    font-size: 12px;
    color: #bbb;
    text-decoration: none;
    margin-right: 10px;
}
.footer .icon1 {
    font-size: 15px;
    margin-left: 2px;
}
.footer .icon2 {
    font-size: 15px;
    margin-left: 25px;
    margin-top: 4px;
}